<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- include css in the header -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <!-- <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/> -->
    
   <head>
      <meta charset="UTF-8" />
      <title>PariSport</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
   	  <h1>PariSport</h1>
   	  
   	   <form action="#" data-th-action="@{/afficherMatchs}">
    		<button type="submit" name="action">Voir les matchs</button>
		</form>
		
		<form action="#" data-th-action="@{/monCompte}">
    		<button type="submit" name="action">Mon compte</button>
		</form>
		
		<form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
        	<input type="submit" value="Se déconnecter" />
        </form>
      
      <!-- include javascript in the footer -->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib.js}"></script>
       
   </body>
    
</html>