<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- include css in the header -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <!-- <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/> -->
    
   <head>
      <meta charset="UTF-8" />
      <title>PariSport</title>
      <!-- <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/> -->
   </head>
   <body>
   	  	<div class="container">
        	<h1>
            	Modifier votre Compte
        	</h1>
    	</div>
   <h2>       
   <form th:action="@{/modifierCompte}"
         th:object="${userForm}" method="POST">
         Nom
         <input type="text" th:field="*{name}" />    
         <br/>
         Prénom
         <input type="text" th:field="*{surname}" />     
         <br/>
         email
         <input type="text" th:field="*{email}" />
         <br/>
         Mot de passe
         <input type="text" th:field="*{password}" />     
         <br/>
         <input type="submit" value="Modifier" />
      </form>
     </h2>


    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib.js}"></script>
    
   </body>
</html>