<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- include css in the header -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <!-- <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/> -->
    
   <head>
      <meta charset="UTF-8" />
      <title>PariSport</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
   	  <h1>Mon Compte</h1>
   	  
   	 <form method="get" data-th-action="@{/monCompte}" th:each ="user : ${user}">
         
         <table border="1">
            <tr>
               <th>Pseudo</th>
               <th>Nom</th>
               <th>Prénom</th>
               <th>Email</th>
               <th>Points</th>
            </tr>
            <tr>
               <td th:utext="${user.username}"></td>
               <td th:utext="${user.name}"></td>
               <td th:utext="${user.surname}"></td>
               <td th:utext="${user.email}"></td>
               <td th:utext="${user.points}"></td>       
            </tr>
         </table>
      </form>
      
      	<form action="#" data-th-action="@{/modifierCompte}">
    		<button type="submit" name="action">Modifier votre compte</button>
		</form>
		
   	  
      <!-- include javascript in the footer -->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib.js}"></script>
       
   </body>
    
</html>