<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- include css in the header -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <!-- <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/> -->
    
   <head>
      <meta charset="UTF-8" />
      <title>PariSport</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
   	  <h1>Match detail</h1>
   	 
   	 
   	 	 <form method="post" data-th-action="@{/team1}" th:each ="match : ${match}">
         
         <table border="1">
            <tr>
               <th>ID</th>
               <th>TEAM1</th>
               <th>COTE</th>
               <th>STATUS</th>
            </tr>
            <tr>
            <input name="ID" th:value="${match.ID}" type="hidden">
               <td th:utext="${match.ID}"></td>
               <td th:utext="${match.team1}"></td>
               <td th:utext="${match.team1cote}"></td>
               <td th:if="${match.Isfinished == false}">En cours</td>      
            </tr>
         </table>
          <td><button  type="submit">Team 1</button></td>  
            
      </form>
      
        <form method="post" data-th-action="@{/team2}" th:each ="match : ${match}">
      
       <table border="1">
            <tr>
                <th>ID</th>
               <th>TEAM2</th>
               <th>COTE</th>
               <th>STATUS</th>
            </tr>
            <tr>
            <input name="ID" th:value="${match.ID}" type="hidden">
               <td th:utext="${match.ID}"></td>
               <td th:utext="${match.team2}"></td>
               <td th:utext="${match.team2cote}"></td>
               <td th:if="${match.Isfinished == false}">En cours</td>      
            </tr>
         </table>
      
      <td><button  type="submit">Team 2</button></td>
      
    
      </form>
   	  
  
   	  
      <!-- include javascript in the footer -->
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib.js}"></script>
       
   </body>
    
</html>